/***************************
similar films
***************************/

.similar__films {
  display: grid;
}

.film_carousel {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.film__card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;        
  display: flex;     
  flex-direction: column; 
}